<div class="post">

    <ion-item>

        <ion-avatar slot="start" lines="none">
            <img src="/assets/avatars/{{post.usuario.avatar}}">
        </ion-avatar>
        <ion-label>
            <h3>{{post.usuario.nombre}}</h3>
            <h5>{{post.usuario.email}}</h5>
        </ion-label>
    </ion-item>

    <!--ngIf si existen img-->
    <ion-slides pager="true">
        <!--para que salgan los puntos de los slider es pager-->
        <!--con este pipe lo que hacemos el acomodar la resolución de cada img en
         el background de un slide o de un div y se van a ver bien, utilizando
        propiedades de css3 que nos acomodan la resolución de las img -->
        <ion-slide class="image-slide" [style]="img1 | domSanitizer">
        </ion-slide>
        <ion-slide class="image-slide" [style]="img2 | domSanitizer">
        </ion-slide>
        <ion-slide class="image-slide" [style]="img3 | domSanitizer">
        </ion-slide>
    </ion-slides>

    <!--mapa-->
    <!--Lo mostraremos si existen coordenadas-->
    <ion-item lines=none>
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-icon slot="end" name="bookmark-outline"></ion-icon>
    </ion-item>

    <ion-item text="none">
        <ion-label text-wrap>
            {{post.mensaje}}
        </ion-label>

    </ion-item>

</div>